* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html {
  background: #F8F8F8;
  height: 100%;
}

#root {
  background: #F8F8F8;
}

/*******************

NAVBAR

********************/

.logo {
  width: 75%;
  cursor: pointer;
}

.navbar {
  padding: 10px;
  font-weight: 100;
  border-radius: 0;
  background: #1f1f1f;
  border: 0;
  margin: 0;
}

.navbar .navbar-nav li a {
  color: #fff;
  background-color: transparent !important;
}

.navbar-nav li::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    margin-left: 50%;
    background: #FF5E62;
    -webkit-transition: all .20s ease-out;
    -o-transition: all .20s ease-out;
    transition: all .20s ease-out;
}

.navbar-nav li:hover::after {
    width: 100%;
    margin-left: 0;
}

.navbar-nav ul li a:hover {
  color: #fff;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: #fff;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: #fff;
}

.myli {
  background-color: #000;
}

iframe {
  display: block;
  margin: 0 auto;
}

.link-nav {
  margin-top: 10px;
  font-size: 18px;
}

/*******************

MAP

********************/

.map {
  width: 100vw;
  height: 100vh;
}

/*******************

SEARCH FORM

********************/

.setup-form {
  max-width: 960px;
  margin: 30px auto;
  padding: 0 30px 0 30px;
}

.setup-form input {
  margin-bottom: 30px;
}

.setup-form button,
.infobox-button {
  width: 50%;
  margin: 30px auto 0 auto;
  background-color: #E50000;
  color: #fff;
  border: none;
  transition: background-color .2s ease-in-out;
}

.infobox-button {
  display: block;
  margin: 0 auto;
}

.setup-form button:hover,
.infobox-button:hover {
  background-color: #ce0000;
}

/*******************

INFOWINDOW

********************/

.infobox-header {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 30px;
  font-weight: 700;
}

.infobox-subheading {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 30px;
  font-weight: 700;
}

.infobox-header::after {
  content: "";
  height: 5px;
  width: 120px;
  background: #FF0000;
  display: block;
  margin: 30px auto;
}

.infobox-container {
  max-width: 960px;
  margin: 0 auto;
}

.infobox-text {
  font-size: 16px;
  font-weight: 100;
  line-height: 150%;
  text-align: center;
  margin: 30px 0 30px 0;
}

.infobox-button {
  width: 35%;
  padding: 10px;
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 8px;
  text-decoration: none;
}

.infobox-button:link,
.infobox-button:visited {
  color: #fff;
}

.infobox-button:hover {
  text-decoration: none;
}

/*******************

BANNER

********************/

.banner {
  background-image: linear-gradient(rgba(31, 31, 31, 0.5), rgba(31, 31, 31, 0.5)), url("../img/bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 88vh;
  position: relative;
}

.box-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  width: 100%;
  text-align: center;
  letter-spacing: 3px;
  font-family: "Roboto", sans-serif;
}

.box-text h1 {
  font-size: 4em;
  text-transform: uppercase;
  font-weight: 700;
}

.box-text h3 {
  font-weight: 300;
}

/*******************

EVENT LIST

********************/

.fa-cog {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

.alert {
  position: absolute;
  top: 100px;
  left: 85%;
  position: fixed;
  transform: translate(-50%, 0);
  z-index: 9999;
  -webkit-animation: fadein 1s;
  animation: fadein 1s;
}

.grid {
  margin-top: 20px;
  position: relative;
}

.event-card {
  background: linear-gradient(to left, #FF3338, #FF5E62);
  margin-bottom: 20px;
  padding: 20px;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 8px;
  transition: all .2s ease-in-out;
  cursor: pointer;
  -webkit-animation: slidein 1s;
  animation: slidein 1s;
}

.event-card * {
  color: #fff;
  text-shadow: 1px 1px 5px #000;
}

.event-header {
  -webkit-animation: fadein 2s;
}

@-webkit-keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
}

@-webkit-keyframes slidein {
  from {margin-left: 100%}
  to {margin-left: 0}
}

.event-card:hover {
  transform: scale(1.030);
  box-shadow: 3px 3px 10px #000;
}

.event-card:active {
  transform: scale(0.99);
}

.event-card h3 {
  margin: 0;
}

.search-bar {
  padding: 20px;
  width: 50%;
  font-size: 1.2em;
  margin: 0 auto;
  text-align: center;
  display: block;
}

.search-button {
  background-color: #FF5E62;
  color: #fff;
  margin: 20px auto;
  display: block;
  transition: background-color .2s ease-in-out;
  width: 15%;
  border: 0;
  text-shadow: 1px 1px 5px #000;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.search-button:hover,
.search-button:active {
  background-color: #FF3338;
  color: #fff;
}
